::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 20px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "font-family: Tahoma, sans-serif";
    scroll-behavior: smooth;
    overflow-y: visible;
    overflow-x: hidden;
  }
  
  a, a:hover, a:visited, a:active {
    overflow-x: hidden;
    color: white;
    text-decoration: none;
   }

    
    .Main {
      overflow-x: hidden;
      padding: auto;
      width: auto;
      height: 8200px;
      background: linear-gradient(45deg, #000000, #141414, #1C1919, #191716);
    }

    .image_box{
      margin-left: 2%;
      margin-right: 2%;
      border-radius: 10px;
    }

    
  .Picture_Headline{
    position: absolute;
    top: 80px;
    right: calc(50% - 200px);
  }

  .container{
    position: absolute;
    top:250px;
    width: 100%;
    overflow:hidden;
    display:block;
    height: 660px;
}


.Picture_Frame{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 90%;
    width: calc(100% - 40px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: "4907157.jpg";
    background-color: rgb(255, 255, 255);
  }


  
  .linie_0{
    overflow-x: hidden;
    position: absolute;
    top: 945px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_1{
    overflow-x: hidden;
    position: absolute;
    top: 1815px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_2{
    overflow-x: hidden;
    position: absolute;
    top: 3115px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_3{
    overflow-x: hidden;
    position: absolute;
    top: 4075px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_4{
    overflow-x: hidden;
    position: absolute;
    top: 5075px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_5{
    overflow-x: hidden;
    position: absolute;
    top: 5775px;
    height: 10px;
    right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
  }

  .linie_6{
    overflow-x: hidden;
    position: absolute;
    top: 6725px;
    height: 10px;
    right: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .text1_box{
    position: absolute;
    top: 1120px;

  }
  
  .Project_Head_1{
    right: 16%;
    margin: 10px;
    overflow-x: hidden;
    position: absolute;
    font-size: 2.5vw;
    color: #ffffff;

  }

  .Project_box_1{
    overflow-x: hidden;
    padding-left: 50px;
    position: absolute;
    top: 1100px;
    right: calc(50% + 30px);
    margin: 10px;
    height: auto;
    width: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    border-width: 4%;
  }
  vw

.video3{
    position: relative;
    right:35px;
}

  .Project_Text_1{
    margin-top: 10%;
    margin-left: 57%;
    color: white;
    width: 28%;
    height: 330px;
    display: flex;
    justify-content: center;
    font-family: Tahoma, sans-serif; 
    font-size: 2.5vw;
  }


  .Project_Head_2{
    position: absolute;
    top: 1900px;
    margin-left: 40%;
    overflow-x: hidden;
    position: absolute;
    font-size: 2.5vw;
    color: #ffffff;

  }


  .Project_box_2{
    overflow-x: hidden;
    padding-left: 50px;
    position: absolute;
    top: 1990px;
    margin-left: 20%;
    border-radius: 8px;
    display:block;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0); 
    float: left;
    margin-top: 5%;

  }

.input_Data_img{
    position: relative;
    right:30px;
}

.text2_box{
  position: absolute;
  top: 2520px;
  width: 100%;
  float: left;
  margin-left: 10%;

}

.seperator{
  float: left;
  margin-left: 5%;
}



.Project_small_Head_2{
    overflow-x: hidden;
    position: absolute;
    font-size: 2vw;
    margin-left: 4%;
    color: #ffffff;

  }

  .Project_Text_2{
    margin-top: 18%;
    font-size: 1.8vw;
    color: white;
    height: 330px;
    text-align: justify;
  }


  .container_Input_Data_Code{
    border-radius: 8px;
    color: rgba(255, 255, 255, 0); 
    width: 60%;
    float: left;
    margin-left: 5%;
    
}


.Project_Head_3{
    margin-left: 40%;
    overflow-x: hidden;
    position: absolute;
    font-size: 2.1vw;
    color: #ffffff;

  }

  .Project_Text_3{
    margin-left: 37%;
    margin-top: 6%;
    font-size: 2vw;
    color: white;
    width: 30%;
    height: 330px;
  }

  .text3_box{
    position: absolute;
    top: 3220px;
    width: 100%;
  
  }


  .container_3{
    margin-left: 15%;

   
    
}

.colormap_img{
  position: relative;
    right:30px;
}

.Project_small_Head_4_1{
    margin-left: 71%;
    margin-top: 10%;
    overflow-x: hidden;
    font-size: 1.7vw;
    color: #ffffff;
  }




  .Project_small_Head_4_2{
    margin-left: 65%;
    margin-top: 40%;
    font-size: 1.7vw;
    color: #ffffff;
  }



  .Project_Text_4_1{
    font-size: 1.4vw;
    margin-left: 62%;
    margin-top: 3%;
    color: white;
    width: 490px;
    height: 330px;
    text-align: justify;
  }

  .Project_Text_4_2{
    font-size: 1.4vw;
    margin-left: 62%;
    margin-top:3%;
    color: white;
    width: 490px;
    height: 330px;
    text-align: justify;
  }


  .container_4{
    position: absolute;
    top: 4125px;
    margin-left: 10%;
    width: 100%;
    height: 1000px;
}

.text4_box{
  position: absolute;
  top: 4070px;
  width: 100%;

}

.text5_box{
  position: absolute;
  top: 4020px;
  width: 100%;
}


.output_img{
    position: absolute;
    margin-right: 7%;
    margin-left: 7%;
    top: 5350px;
    display: block;
}

.Project_Head_5{
    position: absolute;
    top: 5150px;
    right:  35%;
    margin: 10px;
    overflow-x: hidden;
    font-size: 2.5vw;
    color: #ffffff;

  }

  .Project_Head_6{
    position: absolute;
    top: 5915px;
    right:26%;
    margin: 10px;
    overflow-x: hidden;
    position: absolute;
    font-size: 2.1vw;
    color: #ffffff;

  }

  .Project_Text_6{
    position: absolute;
    top: 6000px;
    right: 35%;
    font-size: 2vw;
    color: white;
    width: 27%;
    height: 330px;
    text-align: justify;
  }

  .container_webserver{
    position: absolute;
    top: 6225px;
    width: 100%;
    margin-left: 36%;
    margin-top:5%;

  }

  .Project_Text_7{
    position: absolute;
    top: 6950px;
    margin-left: 15%;
    font-size: 1.8vw;
    color: white;
    width: 30%;
    height: 330px;
    text-align: justify;
  }

  .hardware_opt{
    position: absolute;
    top: 6950px;
    margin-left: 50%;

  }

  .Project_Text_8{
    position: absolute;
    top: 7550px;
    margin-left: 50%;
    font-size: 1.8vw;
    color: white;
    width: 20%;
    height: 330px;
    text-align: justify;
  }

  .hardware_opt2{
    position: absolute;
    top: 7550px;
    margin-left: 15%;
  }

  .footer__container {
    background-color: #131313;
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8vw;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto 0 auto;
  }
  
  .website__rights {
    color: #fff;
  }
  

  .main__btn:hover {
    overflow-x: hidden;
    cursor: pointer;
  }
  
  .main__btn:hover {
    overflow-x: hidden;
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .resume__btn:hover {
    overflow-x: hidden;
    cursor: pointer;
  }
  
  .resume__btn:hover {
    overflow-x: hidden;
    transform: scale(1.075);
    transition: 0.3s ease-in;
  }